<div class="page about">
  <section class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Alliance Fund Management, LLC (AFM) is an impact investor whose core business is focused on
          providing sustainable capital to a targeted borrower base. At AFM we specialize in tax-exempt
          bond financing which offers qualified 501(c)(3)'s and existing "at risk" affordable properties
          an innovative, cost and time efficient approach to acquiring affordable multifamily properties.</p>

        <p>AFM is a direct buyer of short term bonds. Our bonds must be sponsored by qualified 501(c)(3)'s.
          We expect our bonds to be repaid or refunded in a 12-36 month period. At the time of closing
          AFM's projects must be committed to affordability through recorded extended land use restriction
          agreements.</p>

        <p>AFM capital "levels the playing field" between qualified 501(c)(3)'s and large for-profit
          institutional industry players who have ready access to private capital. Our financing removes
          the barrier by providing 501(c)(3)'s with access to bridge capital that was previously unavailable
          in the national market. With that barrier removed, public mission based charities can more
          efficiently collaborate with the for-profit sector. Thus, a clearer path to the preservation
          of affordable multifamily housing is born.</p>
      </div>
    </div>
  </section>
</div>
