<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
        <h1>Alliance Fund Management</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-2 col-sm-7 col-sm-offset-1 col-xs-12">
        <h2>An Intermediary of Socially Responsible Funding</h2>
      </div>
    </div>
  </div>
</section>
<section id="summary-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="summary" class="anchor tag green aside">Learn More</div>
        <p class="lede">
          Our focus is on the long-term preservation of affordable multifamily rental housing.
          We purchase tax-exempt housing bonds that are used as &ldquo;bridge financing&rdquo;
          where fast closings and good terms are a critical part of the transaction – and a
          new permanent loan will be obtained in tdhe near-term following closing.
        </p>

        <div class="base-list">
          <div>As a community development focused investor, our financing is ideally suited for:</div>
          <div class="base-item">
            <i class="one">1</i>
            The acquisition of existing properties*
          </div>
          <div class="base-item">
            <i class="two">2</i>
            The full spectrum of senior housing
          </div>
          <div class="base-item">
            <i class="three">3</i>
            Properties covered by Section 8 contracts
          </div>
          <aside>
            <p>* Especially those with expiring low-income housing tax credits and/or where there
              is a need for eventual resyndication and preservation.</p>
          </aside>
        </div>
        <p>
          Unlike most bond buyers or lenders, we offer a strong and experienced back office
          to assist borrowers in the process of obtaining permanent debt, and if appropriate, low
          income housing tax credits.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="sep1"></div>
<section id="impact-investing-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="impact-investing" class="anchor tag green"></div>
        <h3 ><span class="highlight">Impact</span> Investing</h3>

        <p class="lede">AFM&rsquo;s Impact Bond Program &ldquo;IBP&rdquo; is a funding platform designed to
          help assure that the nation&rsquo;s existing affordable multifamily rental housing
          stock is maintained.</p>

        <p class="question">What kind of impact does AFM&rsquo;s IBP create?</p>

        <p>We provide qualified non-profit or government related borrowers the opportunity to competitively acquire
          apartment properties.</p>

        <p>Preservation of existing housing provides communities with continuity of affordable rental housing and
          in-place residents with the assurance that their home will not be converted to a condo or market rent
          unit.</p>

        <p>It is estimated that between 2014 and 2020 close to one-half of all of the existing low income housing tax
          credit properties will exit from their initial 15 year LIHTC restriction period (approximately two million
          units). Many of those properties could be converted to market rate apartments or even condos. We provide
          institutional capital to qualified borrowers who will have the mission and purpose of assuring that these
          expiring properties (and others) are recommitted to the affordable housing stock.</p>
      </div>
    </div>
  </div>
</section>

<section id="cra-investing-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="cra-investing" class="anchor tag red"></div>
        <h3><span class="highlight">CRA</span> Investing</h3>

        <p class="lede">As a national CRA investment platform AFM provides investment and CRA-qualified opportunities,
          thus spreading
          and mitigating risk while reducing institutional CRA costs.</p>

        <p>Because 100% of the assets collateralizing our bonds are for the preservation of &ldquo;at-risk&rdquo;
          affordable housing,
          AFM believes it&rsquo;s platform is a CRA qualified investment and will meet &ldquo;Investment Test&rdquo;
          and &ldquo;Creativity Test&rdquo;
          criteria. <i class="fa fa-asterisk"></i></p>

        <p>Assets may be targeted to an institution&rsquo;s assessment area.<br>
          Unlike direct LIHTC investments, AFM does not have long-term holding periods.<br>
          CRA regulations do not differentiate between "direct" and "indirect" investments. Thus an institution's
          investment in a fund whose primary purpose is supporting community development and/or affordable housing
          should
          receive positive consideration as a qualified investment under the CRA regulations, subject in some cases to
          assessment area considerations.*
        </p>
        <aside>
          * While AFM has met with the FRB, OCC and the FDIC it is important for all regulated entities to
          independently verify CRA lending and investment test qualification.
        </aside>
      </div>
    </div>
  </div>
</section>
<div class="sep2"></div>
<section id="afm-team-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="afm-team" class="anchor tag blue"></div>
        <h3 class="anchor">The <span class="highlight">AFM</span> Team</h3>

        <p class="lede">
          Alliance Fund Management, LLC is an Atlanta, Georgia based organization whose principals are steeped in
          affordable multi-family rental housing, have extensive industry relationships, and have multiple decades of
          financial and development experience in transactions utilizing tax-exempt and taxable bonds, low income
          housing tax credits (LIHTC), local and federal &ldquo;soft money&rdquo; programs, and a diverse catalog of
          multifamily
          loan programs nationwide. AFM has a strong and experienced management team in place, and as a result of its
          experience in multifamily housing has maintained solid professional alliances along with key corporate
          investors to support our platform.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="partners">
  <div class="container">
    <div class="row ">
      <div class="col-md-3 col-sm-4">
        <h3>Key<br>Investors<br>in AFM</h3>
      </div>
      <div class="col-md-7 col-sm-8">


        <h4>CFG Capital Markets, LLC</h4>

        <p>&ldquo;CFGCM&rdquo; is a FINRA regulated municipal bond underwriter. CFGCM through its wholly owned
          entity, CFG
          Financial Services Companies, LLC (&ldquo;CFG&rdquo;) represents full-service, comprehensive financing
          solutions for
          multifamily properties and healthcare facilities nationwide. CFG compliments AFM in that they are intimately
          familiar with the process of managing the HUD, bridge loan and municipal bond issuance/development
          process.CFG is an industry leader who has provided over $2 billion in financings since its inception.
        </p>
        <h4>The Reinvestment Fund</h4>

        <p>&ldquo;TRF&rdquo; is a Community Development Financial Institution (&ldquo;CDFI&rdquo;) that manages $738
          million in capital and
          has made over $1.3 billion in community investments, financing over 2,875 projects since its inception in
          1985. TRF supports investments with strong research and policy analysis capacity that has become a highly
          regarded source of unbiased information for public officials and private investors.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="map">
  <%= image_tag 'map.jpg' %>
</div>
<section id="contact-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="contact" class="anchor tag green"></div>
        <h3><span class="highlight">Contact</span></h3>

        <p>Our office is located at 4779 S Atlanta Road SE, Suite 200, Atlanta, GA 30339</p>

        <p>If you have a particular deal that you would like to discuss, please contact David M. Perloe at
          770-874-8800 x103 or via email.</p>

        <p>For additional information please contact Peter Wasserman at 770-874-8800 x101</p>
        <aside>
          We welcome communication at any time from existing or potential investors as well as potential industry
          collaboration partners.
        </aside>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-2 col-sm-3">
        <address>
          4779 Atlanta Road SE<br>
          Suite 200<br>
          Atlanta, GA 30339<br>
        </address>
      </div>
      <div class="col-md-2 col-sm-3">
        T: <a class='tel' href="tel:+17708748800">770-874-8800</a><br>
        F: 770-874-7788
      </div>
      <div class="col-md-2 col-sm-3">
        Contact<br>
        <%= mail_to 'info@afm123.com' %>
      </div>
      <div class="col-md-2 col-sm-3">
      </div>
    </div>
  </div>
</footer>